* {
    margin: 0 auto;
    padding: 0;
}

.tool-box {
    width: 1200px;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.701961);
    margin: 0;
    box-sizing: border-box;
    background-color: #08080a;
}

.tool-box .item {
    width: 50px;
    height: 40px;
    float: left;
    /*box-shadow: inset 0 0 20px orange;*/
    /*background-color: red;*/
    text-align: center;
    line-height: 40px;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}
.iconfont {
    width: 50px;
    height: 40px;
    display: block;
}

#svg {
    background-color: #eee;
    /* margin: 0 auto; */
    width:1200px;
    height: 800px;
    margin: auto;
}



.menu {
    width: 50px;
    height: auto;
    background-color: #ddd;
    position: absolute;
    bottom: 40px;
    display: none;
    background-color: #08080a;
    opacity: 0.8;
}

.menu .child{
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    font-size: 12px;
}
.menu :last-child{
    border-bottom: none;
}
