<template>
  <div>
    <button 
      class="add_btn"
      @click="_add(5)">添加5个</button>
    <button 
      class="add_btn"
      @click="_add(10)">添加10个</button>
    <button 
      class="add_btn"
      @click="_add(20)">添加20个</button>
    <div id="drawing">
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      draw: {},
      x: 0,
      svgData: [
        {
          color: "#24998d",
          colorId: null,
          columns: 21,
          goodsId: 101252,
          id: 137288,
          lockDate: null,
          name: "1排21列",
          oldPrice: 280,
          orgPriceId: 76,
          planId: 103128,
          price: 280,
          row: 1,
          seatId: 16519,
          sectionId: 1122,
          x: this.svgX,
        }
      ],
      svgX: 0
    }
  },
  mounted() {
    // 引入svg
    let SVG = require('svg.js')
    // 根组件渲染svg
    this.draw = SVG('drawing').size(1000, 800)
  },
  methods: {
    elMove(e) {
      console.log(e)
    },
    _add(num) {
      for (let i = 0; i < num; i++) {
        // 创建rect元素     给出元素的大小和显示的背景颜色
        var rect = this.draw.rect(14, 14).attr({ fill: '#f06' })
        // x y 的坐标
        rect.attr('x', this.x+=20)
        rect.attr('y', 20)
        // 元素的class
        rect.attr('class', 'react_seat')
        rect.attr('onmousedown', this.elMove(event))
        rect.radius(50)
      }
    }
  }
}
</script>

<style>
  svg {
    background: #fff;
  }
  .add_btn {
    background: #f06;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 8px;
  }
  rect {
    transition: 0.2s;
  }
  .react_seat {
    stroke: #333;
  }
</style>