<template>
  <div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      circles: [
        {
          cx: 150,
          cy: 200,
          r: 12
        }
      ]
    }
  },
  mounted() {
    // 初始化画布
    var svg = d3.select("body").append("svg")
      .attr("width", 1000)
      .attr("height", 1000)
    var drag = d3.behavior.drag()
      //定义了元素拖拽行为的原点，设置为圆的圆心位置可以避免明显的元素跳动,第一个参考连接中的例子可以看到明显的跳动
      .origin(function() {
        var t = d3.select(this);
        return {
          x: t.attr("cx"),
          y: t.attr("cy")
        };
      })
      .on("drag", this.dragmove)
    svg.selectAll("circle")
      .data(this.circles)
      .enter()
      .append("circle")
      .attr("cx", function(d, i) {
        return d.cx;
      })
      .attr("cy", function(d, i) {
        return d.cy;
      })
      .attr("r", function(d, i) {
        return d.r;
      })
      .attr("fill", "#f06")
      .attr("stroke", "#333")
      //为元素添加拖拽事件
      .call(drag);
  },
  methods: {
    dragmove(d) {
      d3.select(this._dom(event))
        .attr("cx", d.cx = d3.event.x)
        .attr("cy", d.cy = d3.event.y)
    },
    _dom(e) {
      return e.target
    }
  }
}
</script>

<style>
svg {
  background: #fff;
  margin: auto;
}
</style>
